body{
	background: gainsboro;
}
.main{
	background:bisque;
	display: flex;

    justify-content: space-around;
    margin:1%;
    box-shadow: 1px 1px 1px 1px;
  }
  .left{
  	background: oldlace;
    display: inline-block;
  	margin: 2%;
  	margin-top: 10%;
  	border-radius: 2%;
  	margin-bottom: 25%;
  	text-align:center;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 2px 2px 2px 2px;
    padding: 2%;


  }
  .right{
  	margin-top: 50%;
  	background: oldlace;
  	margin: 2%;
    display:inline-block;
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px;
    padding:2%;
    margin-bottom: 10%;
  }
  img{
    border-radius: 0.5%;
    margin: 0.5%;
    border-radius: 0.5%;
    box-shadow: 1px 1px 1px 1px;
  }
   @media screen and (min-width: 320px) and (max-width: 480px){
body
{
  background: bisque;
  
}
.main{
  background:grey;
  display: inline-block;
  margin: 2%;
  justify-content: space-around;
  }
  .left{
    background: white;
    display: inline-block;
    margin: 2%;
    width: 90%;
    border-radius: 2%;
    text-align: center;
  }
  .right{
    background: bisque;
    margin: 2%;
    border-radius: 2%;
    box-shadow:2px 2px 2px 2px;
    /*text-align: center;*/
    width:90%;
  }
  img{
    border-radius: 2%;
    margin: 2%;
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px;
  }
}
/*tablet view*/
@media screen and (min-width: 481px) and (max-width: 720px){
body
{
  background: black;
  
}
.main{
  background:blue;
  display: inline-block;
  margin: 2%;
  justify-content: space-around;
  text-align: center;
  }
  .left{
    background: bisque;
    display: inline-block;
   /* flex-wrap:wrap;*/
    margin: 2%;
    width:90%;
    border-radius: 2%;
    text-align: center;
    padding: 2%
  }
  .right{
    background: orange;
    margin: 2%;
    border-radius: 2%;
    box-shadow:4px 4px 4px 4px;
  }
  img{
    border-radius: 4%;
    margin: 4%;
    border-radius: 6%;
    box-shadow: 4px 4px 4px 4px;
  }
}